body {
  font-family: Helvetica;
  text-align: center;
}

.bg_img {
  background-image: URL("../images/the-flatiron-building.png");
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

#header_nav a{
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#special_heading {
  color: white;
  background-image: URL("../images/the-flatiron-building.png");
}
